:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: sans-serif;
   color:white;
}
header .cabecalio{
    position:absolute;
    width: 100%;
    max-width: 1740px;
    display: flex;
    justify-content:space-between;
    padding-top: 18px;
    padding-left: 0px;
    top: 13px;
    left: 53px;
}
header .entrar{
    position:relative;
    color: white;
    background-color: #E50914;
    padding: 6px 17px;
    text-decoration: none;
    border-radius: 3px;
    right: 107px;
}
header .lingua{
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 3px;
    position: relative;
    left: 320px;
    padding: 7px 12px ;
    border-style: solid;
    border-color: white;
}

/*pagina principal*/
.backgroud-itens{
    
    background: -webkit-linear-gradient(rgba(0,0,0,.80),rgba(0,0,0,.50)100%),  url('/Imagem/Backgroud.jpg') no-repeat;
    background-size: contain;
    text-align: center;
    height: 720px;   
    display: flex;
    flex-direction:center;
    justify-content:center;
    align-items: flex-start;
    max-width: 2000px;
}
.backgroud-itens .texto-icones{
    margin-top: 240px;
    max-width: 2000px;
}
.backgroud-itens .texto-icones h1{
    font-size: 3.125rem;
    text-align: center;
    width: 700px;
    margin-bottom: 10px;
}
.backgroud-itens .texto-icones h2{

    text-align: center;
    width: 700px;
    margin-bottom: 25px;
}
.backgroud-itens .texto-icones p{
    font-size: 20px;
    text-align: center;
    width: 700px;
}
.form{
    
    display: grid;
    grid-template-columns:450px 200px ;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.form input{
    padding: 18px;
    font-size: 18px;
    font-family: sans-serif;
}
.button{
    background-color: #E50914;
    color:white;
}

/* Grade de descriuções*/
.container{
    max-width: 1130px;
}
.section{
    padding: 4px 0px;

}







