:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: sans-serif;
   color:white;
}


header .container{
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .cabecalio{
    position:absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-left: 0px;
    
}

header .logo{
    

   
}
header .entrar{
    color: white;
    background-color: #E50914;
    padding: 10px 15px ;
    text-decoration: none;
    border-radius: 3px;
}

/*filme principal*/
.texto-principal{
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/Imagem/Backgroud.jpg') no-repeat;
    background-size: contain;

    height:720px;   
    text-align: center;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: flex-start;
}

.texto-principal h1{
    padding-top: 100px;
    font-size: 20px;
    max-width: 500px;
    margin-top: 15%;
    font-size: 40px;
}
.texto-principal h2{
    font-family: sans-serif;
    font-size: 25px;
    padding: 10px;
}
.texto-principal p{
    font-size: 20px;
    
}

.form{
    display: grid;
    grid-template-columns:450px 200px ;
    margin-top: 30px;
    margin-bottom: 10px;
}
.form input{
    padding: 20px;
    font-size: 18px;
    font-family: sans-serif;
}
.button{
    background-color: #E50914;
    color:white;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}


.carrosel-filmes{
    margin-top:5px;
}







