:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: sans-serif;
   color:white;   
}
header .cabecalio{
    position: absolute;
    padding: 20px; 
    width: 100%;
    display: flex;
    flex-direction:center;
    justify-content:center;
    align-items: flex-start;
    max-width: 2000px auto;
}
header .cabecalio .titulos{
    position: relative;
    display: flex;
    max-width: 1160px;
    width: 100%;
    justify-content: space-between;
    margin-top: 13px;
}
header .ling-menu{
    display: flex;
}
header .entrar{
    position:relative;
    color: white;
    background-color: #E50914;
    padding: 6px 17px;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
}
header .lingua{
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 3px;
    position: relative;
    padding: 7px 12px ;
    border-style: solid;
    border-color: white;
}

/*pagina principal*/
.backgroud-itens{
    background: -webkit-linear-gradient(rgba(0,0,0,.80),rgba(0,0,0,.50)100%),  url('/Imagem/Backgroud.jpg') no-repeat center center/cover;
    text-align: center;
    height: 720px;  
    max-width: 100%;
    display: flex;
    flex-direction:center;
    justify-content:center;
    align-items: flex-start;
    max-width: 2000px auto;
}
.backgroud-itens .texto-icones{
    margin-top: 240px;
    max-width: 1000px;
}
.backgroud-itens .texto-icones h1{
    font-size: 50px;
    text-align: center;
    width: 600px;
    margin-bottom: 10px;
}
.backgroud-itens .texto-icones h2{

    text-align: center;
    width: 700px;
    margin-bottom: 25px;
}
.backgroud-itens .texto-icones p{
    font-size: 20px;
    text-align: center;
    width: 700px;
}
.form{
    
    display: grid;
    grid-template-columns:450px 200px ;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.form input{
    padding: 18px;
    font-size: 18px;
    font-family: sans-serif;
}
.button{
    background-color: #E50914;
    color:white;
}

/* Grade de descriuções*/
.container{
    width: 100%;
    display: flex;
    flex-direction:center;
    justify-content:center;
    align-items: flex-start;
    max-width: 2000px auto;
    background-color: black;
    border-top:7px solid #222222
}
.section{
    padding: 4px 0px;

}







