@media screen and (max-width:700px){
    header .cabecalio .titulos{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 40%;
    }

    header .cabecalio .titulos{
        margin-top: 5px;
        max-width: 300px;
        width: 50%;
    }

}

@media screen and (min-width:1000px){
    header .cabecalio{
        max-width: 1000;
        width: 50%;
    }
}